@model IlkizMakinaProject.Models.AboutViewModel

@section Menu
{
    <ul id="nav">
        <li><a href="/">Anasayfa</a></li>
        <li class="active"><a href="/Home/About">Hakkımızda</a></li>
        <li>
            <a class="has-drop-down-a">Ürünler</a>
            <ul>
                @foreach (var mainProduct in Model.GetMainProducts())
                {
                    <li>
                        <a>
                            @mainProduct.NameTR
                        </a>
                        <ul>
                            @foreach (var subProduct in Model.GetSubProducts(mainProduct.Id))
                            {
                                <li><a href="/Home/Products/@subProduct.Id">@subProduct.NameTR</a></li>
                            }
                        </ul>

                    </li>
                }
            </ul>
        </li>
        @*<li><a href="/Home/Portfolio">Referanslar</a></li>*@
        <li><a href="/Home/Contact">İletişim</a></li>
    </ul>
    <select class="mobile-menu">
        <option selected="selected" value="/">Anasayfa</option>
        <option value="/Home/About">Hakkımızda</option>
        <option value="">Ürünler</option>
        @foreach (var mainProduct in Model.GetMainProducts())
    {
            @*<option value="">- @mainProduct.NameTR</option>*@
            foreach (var subProduct in Model.GetSubProducts(mainProduct.Id))
            {
                <option value="/Home/Products/@subProduct.Id">&nbsp;&nbsp;- @subProduct.NameTR</option>
            }
        }
        @*<option value="/Home/Portfolio">Referanslar</option>*@
        <option value="/Home/Contact">İletişim</option>
    </select>
}

@section Main
{
    <!-- content-panel -->
    <div class="content-panel">
        <div class="page-title">
            <h2>@Model.GetTitle()</h2>
        </div>
    </div>
    <div class="main-container">
        <!-- grid-cols -->
        <div class="grid-cols">
            <div>
                <div class="col-holder">
                    <h3>@Model.GetHeader()</h3>
                    <span class="image alignleft"><img src="@Model.GetImage()" alt="" /></span>
                    <p>@Model.GetDescription()</p>
                </div>
            </div>
        </div>
        <h3>@Model.GetFooter()</h3>
    </div>
}